/*
* base config
*/
minWidth = 48.0rem // 768px
baseBgColor = #fc3a6f // fc3a6f 17AA52
baseColor = #fc3a6f // fc3a6f 17AA52
baseColorRGBA = 255, 54, 109
baseFontColor = #1f1f1f
baseErrorBgColor = #f00 
baseLayoutBgcolor = #3e4e63 // 
baseFontSizeSmall = 0.75rem // 12px
baseFontSize = 0.875rem // 14px

titleSize = 1.875rem // 30px

defaultLinkColor = #89949c

exitOptionsIndex = 10000
loginIndex = 999
taskIndex = 888
messageIndex = 111
tipsIndex = 100
mainIndex = 99


baseShadowBgColor = rgba(0,0,0,.5)
/*
* border
*/
defaultBorderColor = #89949c
borderColor = #ccc
borderRadius = 0.25rem // 4px
/*
* padding
*/

paddingSizeSmall = 0.3125rem // 5px
paddingSize = 0.625rem // 10px
paddingSizeBig = 1.25rem // 20px

/*
* margin
*/

marginSizeSmall = 0.3125rem // 5px
marginSize = 0.625rem // 10px
marginSizeBig = 1.25rem // 20px


/*
* input
*/
inputBigWidth = 18.75rem
inputBigHeight = 2.5rem
inputWidth = 12.5rem
inputHeight = 1.875rem
inputBorder = 0.0625rem
inputBorderColor = #ccc

/*
* login from
*/
loginBgColor = #fff
loginWidth = 31.25rem
loginHeight = 18.75rem
loginSubmitTop = 1.25rem

/*
* tip
*/
tipWidth = 31.25rem // 500px
tipHeight = 3.125rem // 50px
tipColor = #fff
tipBgColor = #fff
tipBgColorClose = #e6e6e6
tipBgColorPrimary = #337ab7
tipBgColorPrimaryClose = #286090
tipBgColorSuccess  = #5cb85c
tipBgColorSuccessClose = #449d44
tipBgColorInfo = #5bc0de
tipBgColorInfoClose = #31b0d5
tipBgColorWarning = #f0ad4e
tipBgColorWarningClose = #ec971f
tipBgColorDanger  = #d9534f
tipBgColorDangerClose = #c9302c

tipCloseWidth = 1.25rem	// 20px
tipCloseHeight = 1.25rem	// 20px
tipClosePosX = -0.5rem // 8px
tipClosePosY = -0.5rem // 8px
tipCloseBgColor = #990000


/*
* views layout 
*/
navWidth = 3.75rem // 180px 60px
navWidthBig = 9rem

/*
* views message 
*/
messageCloseColor = #fe9ca9
messageCloseColorHover = #ed4255
messageCloseColorActive = #b33140
messageBorderColor = #E9E9E9