@import './config.styl'
size()
  if length(arguments) == 1
    width arguments[0]
    height arguments[0]
  else
    width arguments[0]
    height arguments[1]
fc()
    font-size arguments[0]
    color arguments[1]
-pos(type, args)
  i = 0
  position: unquote(type)
  for j in (1..4)
    if length(args) > i
      {args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
    i += 1
fixed()
  -pos('fixed', arguments)
absolute()
  -pos('absolute', arguments)
relative()
  -pos('relative', arguments)
ellipsis(no-wrap = true)
  if no-wrap
    white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
overflow()
  if arguments[0] == ellipsis
    ellipsis()
  else
    overflow: arguments
border(color, args...)
  if color is a 'color'
    border: 1px solid color args
  else
    border: arguments
    
middenSize()
	if length(arguments) == 1
    width arguments[0]
    height arguments[0]
    margin-left: -(arguments[0] / 2)
    margin-top: -(arguments[0] / 2)
  else
    width arguments[0]
    height arguments[1]
    margin-left: -(arguments[0] / 2)
    margin-top: -(arguments[1] / 2)
midden()
  absolute(top 50% left 50%)
  middenSize(arguments)
BGC()
	background-color arguments ? arguments : #fff
box()
	border arguments ? arguments : 0.0625rem solid baseColor
	border-radius borderRadius
btn()
	display inline-block
	outline none
	border inputBorder solid baseColor
	margin-top -0.0625rem
submit()
	display inline-block
	color #fff
	background-color baseBgColor
	margin-top loginSubmitTop
	outline none
	border none
float(type)
  float type
middle(size)
  size(size)
  line-height size
  text-align center
